@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
  --main-color: rgb(255, 24, 24);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Press Start 2P', sans-serif;
  background: linear-gradient(#ff4444, #69a5ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 2rem;
  margin: 2rem 4rem;
}

.gift-box {
  position: relative;
  z-index: -1;
  height: 12rem;
  width: 12rem;
  background-color: var(--main-color);
  border-radius: 3px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8);
  .white-stripe {
    position: relative;
    height: 2rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    &.white-stripe-horizontal {
      top: 5rem;
    }
    &.white-stripe-vertical {
      transform: rotate(90deg);
      top: 3rem;
    }

    .red-stripe {
      position: absolute;
      background-color: rgb(255, 24, 24);
      width: 100%;
      height: 0.4rem;
      &.red-stripe-horizontal-1,
      &.red-stripe-vertical-1 {
        top: 0.4rem;
      }
      &.red-stripe-horizontal-2,
      &.red-stripe-vertical-2 {
        bottom: 0.4rem;
      }
    }
  }
}

.cap {
  position: relative;
  transition: all 1s ease-in;
  width: fit-content;
  height: fit-content;
  transition: 1s ease-in;

  &.open {
    transform: rotate(-180deg);
    transform-origin: 0 0;
  }

  .top {
    position: absolute;
    z-index: -1;

    .butterfly {
      position: absolute;
      width: 3rem;
      height: 4rem;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0 0 10px 2px #000;

      &.butterfly-left {
        top: -3.5rem;
        left: 3rem;
        transform: rotate(-30deg);
      }

      &.butterfly-right {
        top: -2.5rem;
        left: 5.5rem;
        transform: rotate(30deg);
      }
    }
  }

  .bottom {
    position: absolute;
    top: -1rem;
    left: -0.5rem;
    width: 13rem;
    height: 3rem;
    background-color: var(--main-color);
    border-radius: 3px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8);
    .cap-white-stripe {
      position: absolute;
      background-color: #fff;
      width: 2rem;
      height: 3rem;
      top: 0rem;
      left: 5.5rem;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
      .cap-red-stripe {
        position: absolute;
        background-color: var(--main-color);
        width: 0.4rem;
        height: 3rem;
        &.cap-red-stripe-left {
          left: 0.4rem;
        }
        &.cap-red-stripe-right {
          right: 0.4rem;
        }
      }
    }
  }
}

.btn {
  font-family: inherit;
  background-color: rgb(221, 221, 221);
  padding: 1rem 3rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: rgb(187, 187, 187);
  }
}

/* Snow animation imported form the internet */

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
